.button {
  width: 140px;

  background-color: #9d89ee; /* Green */
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #aa9bd8;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.clear-btn {
  background-color: #ef3686;
}

.clear-btn:hover {
  background-color: #e75091;
}

input {
  width: 180px;
  padding: 9px 7px;
}

.container {
  margin: 8px 0;
}
